// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/*============MY CODE STARTS HERE=============*/

/*Variables*/
@double-spacing: 2rem;
@single-spacing: 1rem;
@border: 1px dotted black;
@block-width: 100%;
@secondary-red: #E93E3E;
@primary-red: #A90707;

/*Mixins*/
.flex-centered-column {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.flex-centered-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

/*CSS*/
body {
    max-width: 1000px;
    width: 95%;
    .flex-centered-column();
    
    nav {
        .flex-centered-row();
    
        a {
            margin: @double-spacing; 
        }
    }
    
    .profile {
        .flex-centered-row();
        justify-content: space-around;
    }

    .headshot {
        max-width: 500px;
        width: 40%;
        height: auto;
    }

    .content {
        margin: @double-spacing;
    }

    .block {
        border-top: @border;
        padding-top: @double-spacing;
    }

    .content-block {
        margin: @double-spacing;
        .flex-centered-column();

        ul {
            .flex-centered-row();

            li {
                margin: @double-spacing;
            }
        }
        
        th {
            background: @primary-red;
        }
        
        th, td {
            text-align: left;
            padding: @single-spacing;
            border: 1px solid black;
        }
        
        tr:nth-child(odd) {
            background: @secondary-red;
        }
    }
    
    .contact {
        width: @block-width;
        .flex-centered-column();
        
        input[type=text], textarea {
            width: 80%;
        }
    }
    
    footer {
        width: @block-width;
        text-align: center;
        background: gray;
        
        .copyright {
            padding: @double-spacing;
        }
    }
}